@import '../../scss/variables';

.shell {
    position: relative;
    line-height: 1; 
    & span {
        position: absolute;
        top: 1px;
        left: 1.5rem;
        color: #ccc;
        pointer-events: none;
        z-index: -1;
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        & i {
            font-style: normal;
            /* any of these 3 will work */
            color: transparent;
            opacity: 0;
            visibility: hidden; 
        }
    }
}
.masked {
    font-family: Montserrat, Arial, sans-serif;
    width: 100%;
    border: 1px solid $dark25;
    border-radius: 4px;
    padding: 10px 15px;
    color: $dark75;
    text-transform: uppercase;
    background-color: transparent;
    @extend %font14-24;

    &::placeholder{
        // font-size: 1.4rem;
        // line-height: 2.4rem;
        color: $dark25;
    }

    &__text {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        color: $dark;
        margin-bottom: 5px;
    }
}

