extends /layout/layout
include /components/header/header
include /components/footer/footer
include /components/form-enter/form-enter

block variables
    -
        const title = 'Log in'

block content
    +header
    main.login__content
        .login__container
            +formEnter('Войти')
    +footer
