@import '../../scss/variables';

.colors-types {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // padding: 0 150px;
}

.colors {
    max-width: 281px;
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        &__color{
            width: 7rem;
            height: 7rem;
            border-radius: 6px;
            margin-right: 4rem;

            &-dark {
                background: $dark;
            }
            &-dark-75 {
                background: $dark75;
            }
            &-dark-50 {
                background: $dark50;
            }
            &-dark-25 {
                background: $dark25;
            }
            &-dark-5 {
                background: $dark5;
            }
            &-purple {
                background: $purple;
            }
            &-green {
                background: $green;    
            }
        }
        &__descr {
            font-size: 1.9rem;
            line-height: 2.8rem;
            color: $dark;
        }
        &__title {
            font-weight: bold;
        }
    }
}

.fonts {
    display: flex;
    flex-direction: column;
    max-width: 444px;

    .font {
        display: flex;
        margin-top: 53px;

        &:first-child {
            margin: 0;
        }

        &__name {
            min-width: 37px;
            margin-right:30px;
            text-align: right;
            font-weight: normal;
            line-height: 24px;
        }
        &__title {
            color: $dark25;
        }
        &__wrap {
            max-width: 301px;
            line-height: 24px;
        }
        &__body {
            display: flex;
            margin-top: 47px;
        }
    }
}