@import '../../scss/variables';

.rate {
    display: inline-block;
    &__star {
        display: inline-block;
        width: 24px;
        height: 24px;
        &::before {
            content: 'star_border';
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 20px;
            background: $purpleGradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-checked {
            &::before {
                content: 'star';
            }
        }
    }
}