@import '../../scss/variables';

.footer-menu {

    &__items {
        margin-top: 21px;
    }

    &__item {
        padding-bottom: 2rem;

        &:last-child {
            padding-bottom: 0;
        }
    }
    &__link {
        @extend %font14-17;
        color: $dark50;
        
    }
}