@import '@scss/variables';

.radio-buttons {
    display: flex;
    &__title {
        height: 15px;
    }
    &__title {
        margin-bottom: 16px;
    }
    .radio {
        margin-right: 2rem;
    }
}