extends /layout/layout.pug
include /components/header/header.pug
include /components/footer/footer.pug
include /components/form-search/form-search.pug

block variables
    - const title = "Landing";

block content
    +header
    main.content.js-content
        .container
            .content__item
                +formSearch
    +footer
