@import '@scss/variables';

.content {
    background-image: url('../../img/slide-3.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    flex-grow: 1;
    height: 83rem;
    transition: background-image 0.5s linear 1s;

    @media screen and (max-width: 460px) {
        background-image: none;
        background-color: $purple;
    }
    
    @media screen and (max-width: 768px){
        height: 54rem;
    }
    &__item {
        padding-top: 12%;
        width: 40%;
        max-width: 380px;
        @media screen and (max-width: 768px){
            width: 100%;
        }
    }

}