mixin btn(options)
    -
        const {type='filled', title='button', className='', link=''} = options
        let btnClassName = 'btn'
    case type
        when 'filled'
            - btnClassName += " btn-filled";
        when 'outline'
            - btnClassName += " btn-outline";
        when 'text'
            - btnClassName += " btn-text";
        when 'big'
            - btnClassName += " btn-big";
    -
        btnClassName += className ? ` ${className}` : ''
    if link
        a.btn__link(href=link, class=btnClassName)= title
    else
        button(class=btnClassName)= title
