mixin btn(options)
    -   let btnClassName = 'btn'
    case options.type
        when 'filled'
            - btnClassName += ' btn-filled'
        when 'outline'
            - btnClassName += ' btn-outline'
        when 'text'
            - btnClassName += ' btn-text'
        when 'big'
            - btnClassName += ' btn-big'
    button(class = btnClassName)= options.title