@import '@scss/variables';

.btn {
    @extend %font12-15;
    padding: 1.5rem 1.85rem;
    border: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 2.2rem;
    opacity: 1;
    background: $white;
    position: relative;
    white-space: nowrap;

    &.btn-filled {
        background: rgb(188,156,255);
        background: $purpleGradient;
        color: $white;

        &.btn-focus {
            opacity: 0.5;
        }
        
        &:hover {
            opacity: 0.5;
        }
    }
    &__link {
        text-align: center;
        color: $white;
    }

    &.btn-outline {
        // background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to bottom, #BC9CFF, #8BA4F9) border-box;
        color: $purple;        
        // border: 2px solid transparent;
        // border-radius: 22px;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: -2px;
        //     left: -2px;
        //     right: -2px;
        //     bottom: -2px;
        //     background: $purpleGradient;
        //     border-radius: 2.2rem;
        //     z-index: -1;

        // }
        &::before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            border-radius:22px; 
            padding: 2px; 
            background: $purpleGradient; 
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out; 
            mask-composite: exclude; 
        }
        
        &.btn-focus.btn-outline::before {
            opacity: 0.5;
        }

        &:hover::before {
            opacity: 0.5;
        }

        &:active {
            color: $white;
        }
    }

    &.btn-text {
        display: inline-block;
        padding: 0;
        color: $purple;

        &.btn-focus {
            color: $dark50;
        }

        &:hover {
            color: $dark50;
        }
    }
    &.btn-big {
        padding: 1.4rem 1.4rem;
        display: flex;
        justify-content: center;
        background: rgb(188,156,255);
        background: $purpleGradient;
        color: $white;
        width: 100%;
        height: 44px;
        &::after {
            content: "";
            display: block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 1.3rem;
            right: 1rem;
            background-image: url("./arrow_forward.svg");
            background-repeat: no-repeat;
        }

        &:hover {
            opacity: 0.5;
        }
    }
    &:active {
        transform: translateY(2px);
    }
    .btn__link {
        color: $purple;
    }
}