@import '@scss/variables';
.item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &__color{
        width: 7rem;
        height: 7rem;
        border-radius: 6px;
        margin-right: 4rem;

        &-dark {
            background: $dark;
        }
        &-dark-75 {
            background: $dark75;
        }
        &-dark-50 {
            background: $dark50;
        }
        &-dark-25 {
            background: $dark25;
        }
        &-dark-5 {
            background: $dark5;
        }
        &-purple {
            background: $purple;
        }
        &-green {
            background: $green;    
        }
    }
    &__descr {
        font-size: 1.9rem;
        line-height: 2.8rem;
        color: $dark;
    }
    &__title {
        font-weight: bold;
    }
}