extends ../../layout/ui-kit.pug
include ../../components/color/color
include ../../components/logo/logo

block variables
    -
        const colors = [
            {className: 'dark', title: 'Dark Shade 100%', code: '#1F2041'},
            {className: 'dark-75', title: 'Dark Shade 75%', code: '#1F2041'},
            {className: 'dark-50', title: 'Dark Shade 50%', code: '#1F2041'},
            {className: 'dark-25', title: 'Dark Shade 25%', code: '#1F2041'},
            {className: 'dark-5', title: 'Dark Shade 5%', code: '#1F2041'},
            {className: 'purple', title: 'Purple', code: '#BC9CFF'},
            {className: 'green', title: 'Green', code: '#6FCF97'},
        ]
block header
    header.logo
        +logo_bw
block content
    section.colors-types
        .colors
            each objColor in colors
                +color(objColor)
        .fonts
            .font
                .font__name
                    h1.font__title H1
                .font__example
                    h1 This one is the sub-section or widget title
            .font
                .font__name
                    h2.font__title H2
                .font__example
                    h2 Next one is the item title inside widgets
            .font
                .font__name
                    h3.font__title H3
                .font__example
                    h3 This is a label or CTA text
            .font__body
                .font__name
                    p.font__title Body
                p.font__wrap This is the body text which is used for most of the design, like paragraphs, lists, etc.
