extends ../../layout/layout

block variables
    -
        let title = 'UI-Kit'
        const colors = [
            {class: 'dark', title: 'Dark Shade 100%', code: '#1F2041'},
            {class: 'dark-75', title: 'Dark Shade 75%', code: '#1F2041'},
            {class: 'dark-50', title: 'Dark Shade 50%', code: '#1F2041'},
            {class: 'dark-25', title: 'Dark Shade 25%', code: '#1F2041'},
            {class: 'dark-5', title: 'Dark Shade 5%', code: '#1F2041'},
            {class: 'purple', title: 'Purple', code: '#BC9CFF'},
            {class: 'green', title: 'Green', code: '#6FCF97'},
        ]
block content
    section.colors-types
        .colors
            each color in colors
                .item
                    .item__color(class="item__color-" + color.class)
                    .item__descr
                        p.item__title= color.title
                        p.item__code= color.code
        .fonts
            .font
                .font__name
                    h1.font__title H1
                .font__example
                    h1 This one is the sub-section or widget title
            .font
                .font__name
                    h2.font__title H2
                .font__example
                    h2 Next one is the item title inside widgets
            .font
                .font__name
                    h3.font__title H3
                .font__example
                    h3 This is a label or CTA text
            .font__body
                .font__name
                    p.font__title Body
                p.font__wrap This is the body text which is used for most of the design, like paragraphs, lists, etc.
