@import '../../scss/variables';

.colors-types {
    box-sizing: content-box;
    max-width: 1141px;
    padding: 33px 150px;
    display: flex;
    justify-content: space-between;
}

.colors {
    max-width: 281px;
}

.fonts {
    display: flex;
    flex-direction: column;
    max-width: 444px;

    .font {
        display: flex;
        margin-top: 53px;

        &:first-child {
            margin: 0;
        }

        &__name {
            min-width: 37px;
            margin-right:30px;
            text-align: right;
            font-weight: normal;
            line-height: 24px;
        }
        &__title {
            color: $dark25;
        }
        &__wrap {
            max-width: 301px;
            line-height: 24px;
        }
        &__body {
            display: flex;
            margin-top: 47px;
        }
    }
}