extends /layout/ui-kit.pug
include /components/header/header.pug
include /components/footer/footer.pug

block variables
    -
        const title = 'UI-Kit | Headers & Footers'
block content
    .headers__block
        .headers__item
            +header
        .headers__item
            +header({login: 'Юлий Цезарь'})
        .headers__item.headers__item-dark
            +footer
        .headers__item.headers__item-small
            +footer(false)
