extends ../../layout/ui-kit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
    -
        const title = 'UI-Kit | Headers & Footers'
        const menuItems = [
            {
                title: 'О нас',
                link: '/mock-address/change-me',
                active: true,
                multiple: false
            },
            {
                title: 'Услуги',
                link: '/mock-address/change-me',
                active: false,
                multiple: true
            },
            {
                title: 'Вакансии',
                link: '/mock-address/change-me',
                active: false,
                multiple: false
            },
            {
                title: 'Новости',
                link: '/mock-address/change-me',
                active: false,
                multiple: false
            },
            {
                title: 'Соглашения',
                link: '/mock-address/change-me',
                active: false,
                multiple: true
            },
        ]
block content
    .headers__block
        .headers__item
            +header({items: menuItems})
        .headers__item
            +header({items: menuItems, login: 'Юлий Цезарь'})
        .headers__item.headers__item-dark
            +footer
        .headers__item.headers__item-small
            +footer(false)
