@import '../../scss/variables';

.elements {
    max-width: 1157px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    column-gap: 126px;

    &__item {
        // max-width: 320px;
    }
    .element {

        &-small {
            max-width: 266px;
        }
        &__dropdown-open {
            margin-bottom: 157px;
        }
        &__expandable-checkbox-list {
            margin-bottom: 18px;

            &-open {
                margin-bottom: 250px;
            }
        }
        &__checkbox_buttons {
            max-width: 222px;
        }
        &__radio__buttons {
            height: 55px;
        }
        &__rate-button {
            margin-bottom: 195px;
        }
        &__dropdown-open {
            margin-bottom: 250px;
        }
        &__rich-checkbox-buttons {
            margin-bottom: 230px;
        }
    }
    .mb-2 {
        margin-bottom: 2rem;
    }
    .mb-4 {
        margin-bottom: 4rem;
    }
    .mb-10 {
        margin-bottom: 10rem;
    }
    .mb-20 {
        margin-bottom: 20rem;
    }
}