extends ../../layout/ui-kit.pug
include ../../components/textfield/textfield.pug
include ../../components/dropdown/dropdown.pug
include ../../components/inputmasked/inputmasked.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/date-filter/date-filter.pug
include ../../components/subscription-textfield/subscription-textfield.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle-buttons/toggle-buttons.pug
include ../../components/like-block/like-block.pug
include ../../components/rate-buttons/rate-buttons.pug
include ../../components/richbox-list/richbox-list.pug
include ../../components/range/range.pug
include ../../components/buttons-block/buttons-block.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/feedback/feedback.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/benefit/benefit.pug

block variables
    -
        const dropdownRoom = [
            {
                id: 1, 
                name: "спальни",
                wordForms: "спальня,спальни,спален",
                defaultCount: 2,
            },
            {
                id: 2, 
                name: "кровати",
                wordForms: "кровать,кровати,кроватей",
                defaultCount: 2,
            },
            {
                id: 3, 
                name: "ванные комнаты",
                wordForms: "ванная комната,ванные комнаты,ванных комнат"
            }
        ] 
        const dropdownGuests = [
            { id: 1, name: "взрослые", wordForms: ""},
            { id: 2, name: "дети", wordForms: ""},
            { id: 3, name: "младенцы", wordForms: "младенец,младенца,младенцев"}
        ]
        const checkList = [
            {title: 'Можно курить', name: 'smoke', value: 'smoked'},
            {title: 'Можно с питомцами', name: 'pet', value: 'pet', isChecked: true},
            {title: 'Можно пригласить гостей (до 10 человек)', name: 'festival', value: 'festival', isChecked: true}
        ]
        const radioButtonsData = [
            {text: 'Мужчина', name: 'sex', value: 'male', isChecked: true},
            {text: 'Женщина', name: 'sex', value: 'female'}
        ]
        const toggleData = [
            {text: 'Получать спецпредложения', isChecked: true},
            {text: 'Получать спецпредложения'}
        ]
        const likeData = [
            {count: 2},
            {count: 12, isLiked: true}
        ]
        const rateArr = [4, 5]
        const richboxList = [
            {title: 'Широкий коридор', name: 'corridor', value: 'corridor', isRich: true, descr: 'Ширина коридоров в номере не менее 91 см.'},
            {title: 'Помощник для инвалидов', name: 'ivalid', value: 'ivalid', isRich: true, descr: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
        ]
        const buttonList = [
            {type: 'filled', title: 'click me'},
            {type: 'filled', title: 'click me', className: 'btn-focus'},
            {type: 'outline', title: 'click me'},
            {type: 'outline', title: 'click me', className: 'btn-focus'},
            {type: 'text', title: 'click me'},
            {type: 'text', title: 'click me', className: 'btn-focus'},
        ]
        const bulletArr = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
        const feedbackObj = {   
            ava: '/src/components/feedback/img/sarafanov.png',
            name: 'Мурад Сарафанов',
            online: '5 дней назад',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            likeObj: {count: 12, isLiked: true}
        }
        const additionList = [
            {
                title: 'Завтрак',
                value: 'breakfast'
            },
            {
                title: 'Письменный стол',
                value: 'desk',
                isChecked: true
            },
            {
                title: 'Стул для кормления',
                value: 'feedchair',
                isChecked: true
            },
            {
                title: 'Кроватка',
                value: 'crib',
                isChecked: true
            },
            {
                title: 'Телевизор',
                value: 'tv'
            },
            {
                title: 'Шампунь',
                value: 'schampoo'
            },
        ]
        const benefitList = [
            {            
                icon: 'insert_emoticon',
                title: 'Комфорт',
                descr: 'Шумопоглощающие стены',
                isBordered: true
            },
            {
                icon: 'location_city',
                title: 'Удобство',
                descr: 'Окно в каждой из спален',
                isBordered: true
            },
        ]
block content
    .elements
        section.elements__item
            .element__textfield.mb-2
                +textfield('Text Field','Email')
            .element__textfield.mb-2
                +textfield('Text Field','Email', 'This is pretty awesome')
            .element__dropdown.mb-2
                +dropdown({type: 'guest', items: dropdownGuests, title: 'dropdown', defaultValue: 'Сколько гостей', isApply: true, common: 'гость,гостя,гостей'})
            .element__masked-text-field.mb-4
                +inputmasked('masked text field')
            .element__date-dropdown.mb-4
                +dateDropdown('date Dropdown', 'date Dropdown')
            .element__filter-date-dropdown.element-small.mb-4
                +dateFilter('filter date dropdown')
            .element__subscription-text-field.element-small.mb-10
                +subscriptionTextfield('subscription text field')
            .element__dropdown.element-small.mb-2.mb-2
                +dropdown({type: 'room', items: dropdownRoom, title: 'dropdown', defaultValue: 'Что предпочитаете'})
            .element__dropdown-open.element-small
                +dropdown({type: 'room', items: dropdownRoom, title: 'dropdown', defaultValue: 'Что предпочитаете', isOpen: true})
            .element__expandable-checkbox-list.element-small
                +checkboxList('expandable checkbox list', additionList)
            .element__expandable-checkbox-list-open.element-small
                +checkboxList('expandable checkbox list', additionList, isOpen=true)
            .element__benefit.element-small
                each item in benefitList
                    +benefit(item)

        section.elements__item
            .element__checkbox_buttons
                +checkboxButtons('Checkbox Buttons', checkList)
            .element__radio__buttons
                +radioButtons('Radio Buttons', radioButtonsData)
            .element__toggle
                +toggleButtons('Toggle', toggleData)
            .element__like-button
                +likeBlock('like button', likeData)
            .element__rate-button
                +rateButtons('rate button', rateArr)
            .element__dropdown-open
                +dropdown({type: 'guest', items: dropdownGuests, title: 'dropdown', defaultValue: 'Сколько гостей', isApply: true, common: 'гость,гостя,гостей'})
            .element__rich-checkbox-buttons
                +richboxList('rich Checkbox Buttons', richboxList)
            .element__review 
                +feedback(feedbackObj)
        section.elements__item
            .element__range-slider
                +range('Range Slider', 0, 15000, 5000, 10000, 1000)
            .element__buttons
                +buttonsBlock('buttons', buttonList)
            .element__big-button
                +btn({type: 'big', title: 'перейти к оплате'})
            .element__pagination
                +pagination('pagination')
            .element__dropdown-open-full
                +dropdown({type: 'guest', items: dropdownGuests, title: 'dropdown', defaultValue: 'Сколько гостей', isApply: true, common: 'гость,гостя,гостей'})
            .element__bullet-list
                +bulletList('bullet list', bulletArr)
