@import '../../scss/variables';

.like {
    position: relative;
    width: 4rem;
    height: 2rem;
    background: $white;
    border: 1px solid $dark25;
    border-radius: 1rem;
    cursor: pointer;
    &::after {
        content: 'favorite_border';
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: normal;
        color: $dark25;
        font-size: 10px;
        line-height: 9px;
        position: absolute;
        top: 4px;
        left: 3px;
    }

    &-clicked::after {
        content: 'favorite';
        color: $purple;
        & > span {
            color: $purple;
        }
    }
    
    &__count {
        position: absolute;
        display: inline-block;
        color: $dark25;
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: right;
        width: 9px;
        height: 9px;
        top: 3px;
        right: 12px;
        pointer-events: none;
    }
}