mixin like(options)
    -
        const { count=0, isLiked=false } = options
        let classLike = 'like'
        classLike += isLiked ? ' like-clicked' : ''
    button(class=classLike)
        span.like__count= count
