@import '../../scss/variables';

.checkbox-list {
    width: 26.6rem;
    cursor: pointer;
    position: relative;

    .open::before {
        transform: rotate(180deg);
    }
    &__title {
        padding: 1.8rem 0;

        &::before {
            content: 'expand_more';
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: $dark50;
            text-transform: none;
            position: absolute;
            top: 18px;
            right: 6px;
        }
    }
    &__items {
        max-width: 22.2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s linear;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;
        background: $white;
    }
    &__item {
        margin-bottom: 11px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .show {
        max-height: 186px;
    }
}