include ../checkbox/checkbox

mixin checkboxList(options)
    - const { title, items } = options;
    .checkbox-list
        h3.checkbox-list__title= options.title
        ul.checkbox-list__items
            each val in items
                li.checkbox-list__item 
                    +checkbox({text: val.text, value: val.value, isChecked: val.isChecked})
