include ../checkbox/checkbox

mixin checkboxList(title, items)
    .checkbox-list
        h3.checkbox-list__title= title
        ul.checkbox-list__items
            each val in items
                li.checkbox-list__item 
                    +checkbox(val)
                    //- +checkbox({text: val.text, value: val.value, isChecked: val.isChecked})
