extends ../../layout/ui-kit.pug

mixin list(item)
    - const { text, link } = item;
    li.list__item
        a.list__link(href=link, alt=text)= text

block variables
    -
        const pages = [
            {text: 'Colors & Type', link: 'https://sergeless.github.io/toxin/colors'},
            {text: 'Form Elements', link: 'https://sergeless.github.io/toxin/elements'}
        ]


block content
    ul.list 
        each page in pages 
            +list(page)
