extends /layout/ui-kit.pug

mixin list(item)
    - const { text, link } = item;
    li.list__item
        a.list__link(href=link, alt=text)= text

block variables
    -
        const pages = [
            {text: 'Colors & Type', link: 'https://maycraft.github.io/toxin/colors'},
            {text: 'Form Elements', link: 'https://maycraft.github.io/toxin/elements'},
            {text: 'Cards', link: 'https://maycraft.github.io/toxin/cards'},
            {text: 'Headers & Footers', link: 'https://maycraft.github.io/toxin/headers'},
            {text: 'Landing', link: 'https://maycraft.github.io/toxin/landing'},
            {text: 'Search room', link: 'https://maycraft.github.io/toxin/search-room'},
        ]


block content
    ul.list 
        each page in pages 
            +list(page)
