include /components/checkbox/checkbox

mixin richboxList(customConfig = {})
    - const defaultConfig = require("@components/richbox-list/richbox-list.config.json");
    - const mergedConfig = Object.assign({}, defaultConfig, customConfig);
    - const { title, list: items } = mergedConfig;

    h3.richbox-list__title= title
    .richbox-list__body
        each val in items
            +checkbox(val)
