include /components/benefit/benefit

mixin benefitBlock(customConfig = {})
    - const defaultConfig = require("@components/benefit-block/benefit-block.config.json");
    - const mergedConfig = Object.assign({}, defaultConfig, customConfig);
    - const { title, list: benefitList } = mergedConfig;
    if title
        h3.benefit-block__title= title
    each item in benefitList
        +benefit(item)
