@import '../../scss/variables';

.bullet-list {
    &__item {
        @extend %font14-24;
        color: $dark75;
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $dark25;
            position: absolute;
            top: 7px;
            left: 0;
        }
    }
} 