mixin dateFilter(title)
    h3= title
    .date-filter
        input.datepicker-here.date-filter__input(
            type='text',
            placeholder='__ ___ - __ ___',
            name='datepicker'
        )
        i.material-icons.date-filter__icon expand_more
