@import '@scss/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-height: 70px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    
    .header__menu.show {
        display: flex;
    }
    
    & &__menu {
        display: flex;
        align-items: center;
        height: auto;
        overflow: hidden;
        transition: height .5s linear;
    }

    &-menu {
        display: flex;
        align-items: center;

        &__item {
            margin-right: 21px;
            cursor: pointer;

            &-active > a {
                color: $dark75;
                font-weight: bold;
            }

            i {
                color: $dark50;
                vertical-align: middle;
            }
        }
        &__link {
            font-size: 14px;
            line-height: 17px;
            color: $dark50;
        }
    }

    &__auth {
        display: flex;
        align-items: center;
    }

    &__login {
        padding-left: 19px;
        border-left: 1px solid $dark10;
        font-size: 14px;
        line-height: 17px;
        color: $dark50;
    }

    &__btn {
        margin-right: 20px;
        z-index: 0;

        &:last-child {
            margin-right: 0;
        }

        button.header__btn-join {
            padding: 10px 20px;
        }

        button.header__btn-login {
            padding: 7px 19px;
        }
    }

    .burmenu {
        background: transparent;
        border: none;
        cursor: pointer;
        display: none;
        margin-top: 10px;

        &:focus {
            outline: none;
        }
        &__line {
            display: block;
            height: 5px;
            width: 25px;
            margin: 4px auto;
            background: $purple;
            pointer-events: none;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

@media screen and (max-width: 992px){
    align-items: flex-start;
    .header {
        &__menu {
            display: none;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background: $white;
            position: relative;
            z-index: 100;

            @media screen and (max-width: 576px){
                padding: 5px;
            }
        }

        &-menu {
            flex-direction: column;

            &__item {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &__burmenu {
            display: block;
            margin-left: auto;
        }
    }
    &__btn {
        margin-top: 20px;
    }
}
}
