include ../../components/brand/brand.pug
include ../../components/button/button.pug

mixin header({items, login=false})
    .header
        +brand
        nav.header__navbar
            ul.header-menu
                each item in items
                    - let className = "header-menu__item";
                    - const { title, link, active, multiple } = item;
                    - className += active ? " header-menu__item-active" : "";
                    - className += multiple ? " header-menu__item-multiple " : "";
                    li(class=className)
                        a.header-menu__link(href='/toxin/aboutus.html')= title
                        if (multiple)
                            i.material-icons expand_more
            if login
                .header__login= login
            else
                .header__auth
                    .header__btn
                        +btn({type: 'outline', title: 'войти', className: 'header__btn-login'})
                    .header__btn 
                        +btn({type: 'filled', title: 'зарегистрироваться', className: 'header__btn-join'})
