include ../like/like.pug

mixin likeBlock(customConfig = {})
    - const defaultConfig = require("@components/like-block/like-block.config.json");
    - const mergedConfig = Object.assign({}, defaultConfig, customConfig);
    - const { title, list: likes } = mergedConfig;

    h3.like-block__title= title
    .like-block 
        each likeObj in likes 
            +like(likeObj)
