mixin checkbox(options)
    -
        let {name, value, text, isChecked=false} = options
        let checkboxName = name || ''
        let checkboxValue = value || ''
    label.check
        input.check__input(type='checkbox', value=checkboxValue, checked=isChecked)
        span.check__box= text
