include /components/bullet/bullet

mixin bulletList(title, items)
    .bullet-list
        h3.bullet-list__title= title
        ul.bullet-list__items
            each val in items
                +bullet(val)
