include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown.pug
include /components/button/button.pug

mixin formSearch(options)
    - const { title, dropdownGuests } = options;
    .form.form-search 
        .form-search__element
            h1.form-search__title= title
        .form-search__element
            +dateDropdown({id: 'search', classes: 'search', type: 'double', title_start: 'прибытие',title_end: 'выезд'})
        .form-search__element
            +dropdown({type: 'forms-search-guest', items: dropdownGuests, title: 'гости', defaultValue: 'Сколько гостей', isApply: true, common: 'гость,гостя,гостей'})
        .form-search__element-mt3
            +btn({type: 'big', title: 'подобрать номер'})
