include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin formSearch(options)
    - const { title, dropdownGuests } = options;
    .form.form-search 
        .form__element
            h1.form-search__title= title
        .form__element
            +dateDropdown('прибытие', 'выезд')
        .form__element
            +dropdown({type: 'forms-search-guest', items: dropdownGuests, title: 'гости', defaultValue: 'Сколько гостей', isApply: true, common: 'гость,гостя,гостей'})
        .form__element-last 
            +btn({type: 'big', title: 'подобрать номер'})
