include /components/brand/brand.pug
include /components/subscription-textfield/subscription-textfield.pug
include /components/footer-menu/footer-menu.pug

mixin footer(customConfig = {})
    - const defaultConfig = require("@components/footer/footer.config.json");
    - const mergedConfig = Object.assign({}, defaultConfig, customConfig);
    - const { description, menuList, copyright, isDesktop } = mergedConfig;

    if isDesktop
        .footer
            .footer-descr
                .footer-descr__item
                    +brand
                    p.footer-descr__info= description
                .footer-descr__navigation.navigation
                    each menu in menuList
                        .navigation__block.navigation__block-offset
                            +footerMenu(menu)
                .footer-descr__item.footer-descr__item-offset.subscribe 
                    h3.subscribe__title Подписка
                    p.footer-descr__info Получайте специальные предложения и новости сервиса
                    +subscriptionTextfield
            .footer__logo
                +brand
            .footer-copyright 
                .footer-copyright__text= copyright
                .footer-copyright__social.social 
                    ul.social__items 
                        li.social__item.social__item-twitter
                        li.social__item.social__item-facebook
                        li.social__item.social__item-instagram
    else
        .footer-small
            .footer-small__logo
                +brand
            .footer-small-copyright 
                .footer-small__copyright__text= copyright
                .footer-small__social.social 
                    ul.social__items 
                        li.social__item.social__item-twitter
                        li.social__item.social__item-facebook
                        li.social__item.social__item-instagram
