@import '../../scss/_variables.scss';

.text-field {
    width: 100%;
    padding: 1.3rem 1.5rem;
    border: 1px solid $dark25;
    border-radius: 4px;
    background: $white;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: $dark75;
    margin-top: 5px;

    &::placeholder {
        color: $dark25;
    }

    &:focus, &:hover {
        border-color: $dark50;
    } 
}