@import '@scss/_variables.scss';

.text-field {
    width: 100%;
    @extend %font14-24;
    padding: 9px 15px;
    border: 1px solid $dark25;
    border-radius: 4px;
    background: $white;
    font-family: Montserrat, sans-serif;
    color: $dark75;
    
    &__title {
        margin-bottom: 5px;
    }

    &::placeholder {
        // line-height: 18px;
        color: $dark25;
    }

    &:focus, &:hover {
        border-color: $dark50;
    } 
}