include ../button/button.pug

mixin authInfo(options)
    - const { text, title, link } = options;
    .auth-info 
        p.auth-info__text= text
        +btn({ title, type: 'outline', className: 'auth-info__btn', link})
