extends ./layout/layout

include ./components/textfield/textfield
include ./components/checkbox/checkbox
include ./components/radio/radio
include ./components/pagination/pagination
include ./components/toggle/toggle
include ./components/like/like

block variables
    - let title = 'Create components'
block content
    .wrapper
        section
            +textfield("Email")
            br
            br
            +checkbox({text: 'Можно курить', name: 'smoke', value: 'smoked'})
            br
            br
            +radio({text: 'Мужчина', name: 'sex', value: 'male'})
            br
            +radio({text: 'Женщина', name: 'sex', value: 'female'})
            br
            +toggle({title: 'Получать спецпредложения'})
            br
            br
            +like(12)