@import './scss/variables';
@import './scss/fonts';

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

li {
    list-style: none;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8rem;
    color: $dark75;
}

h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: bold;
    color: $dark;
}

h2 {
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: bold;
    color: $dark;
}

h3 {
    @extend %font12-15;
    font-weight: bold;
    color: $dark;
}

.wrapper {
    max-width: 320px;
    margin: 0 auto;

    @media screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media screen and (min-width: 768px) {
        max-width: 720px;
    }
    @media screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media screen and (min-width: 1400px) {
        max-width: 1440px;
    }
}

.hide {
    display: none !important;
}

header.logo {
    padding: 30px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}