@import './scss/variables';
@import './scss/fonts';
// @import './pages/ui-kit/ui-kit.scss';

// @import './components/button/button';
// @import './components/textfield/textfield.scss';
// @import './components/checkbox/checkbox.scss';
// @import './components/radio/radio.scss';
// @import './components/pagination/pagination.scss';
// @import './components/toggle/toggle.scss';
// @import './components/like/like.scss';

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8rem;
    color: $dark75;
}

h1 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: bold;
    color: $dark;
}

h2 {
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: bold;
    color: $dark;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark;
}

.wrapper {
    max-width: 120rem;
    margin: 2rem auto;
}

section {
    padding: 0 15px;
}