.checkbox-buttons{
    &__body {
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        label.checkbox {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}