@import '@scss/variables';

body {
    background-color: $grey;
}

.cards {
    box-sizing: content-box;
    max-width: 1160px;
    padding: 39px 140px;
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;

    &__item {
        max-width: 380px;
        padding: 0 20px;
        
        &-small {
            max-width: 320px;
            padding: 0 20px;
        }
    }

    &__element {
        margin-bottom: 40px;
    }
}