extends /layout/ui-kit.pug
include /components/form-search/form-search.pug
include /components/form-registration/form-registration.pug
include /components/form-enter/form-enter.pug
include /components/form-reserv/form-reserv.pug
include /components/date-dropdown/date-dropdown.pug
include /components/card-room/card-room.pug

block variables
    - const title = "UI-Kit | Cards";

block content
    .cards
        .cards__item
            .cards__element
                +formSearch
            .cards__element
                +formRegistration
        .cards__item
            .cards__element
                +formReserv
            .cards__element
                +formEnter('Войти')
        .cards__item-small 
            .cards__element
                +dateDropdown({id: 'empty', classes: 'empty', type: 'inline'})
            .cards__element
                +cardRoom({images: ['room1.png', 'room3.png', 'room4.png', 'room5.png'], number: 888, cost: 9990, feedbackCount: 145, stars: 5, isFancy: true})
            .cards__element
                +cardRoom({images: ['room2.png', 'room6.png', 'room7.png', 'room8.png'], number: 840, cost: 9990, feedbackCount: 65, stars: 4 })
