extends ../../layout/ui-kit.pug
include ../../components/form-search/form-search.pug

block variables
    -
        const searchData = {
            title: 'Найдём номера под ваши пожелания',
            dropdownGuests: [
                { id: 1, name: "взрослые", wordForms: ""},
                { id: 2, name: "дети", wordForms: ""},
                { id: 3, name: "младенцы", wordForms: "младенец,младенца,младенцев"}
            ]
        }

block content
    .cards
        .cards__item
            +formSearch(searchData)
        .cards__item
        .cards__item
