mixin subscriptionTextfield(title='')
    if title
        h3.subsription-textfield__title= title
    .subsription-textfield
        input.subsription-textfield__input(type='text', name='subscribe', placeholder='Email')
        button.subsription-textfield__submit(type='submit')
            i.material-icons.subsription-textfield__arrow arrow_forward
