@import '../../scss/variables';
.subsription-textfield {
    padding: 9px 4px 8px 15px;
    border: 1px solid $dark25;
    border-radius: 4px;
    display: flex;
    align-items: center;
    max-width: 26.7px;

    &__title {
        margin-bottom: 5px;
    }

    &__input {
        width: 90%;
        border: none;
        @extend %font14-24;
        color: $dark75;

        &::placeholder {
            color: $dark25;
        }
    }
    &__submit {
        border: 0;
        background: $white;
    }
    &__arrow {
        background: $purpleGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
} 